
/* Styles for screens smaller than or equal to 400px wide */
@media (max-width: 900px) {
   section#main {
      padding: 1em;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: "photo"
                           "descript";
      grid-gap: 10px;
      /* border: 1px dashed rgb(153, 255, 0); */
   }

   section#main .image {
      grid-area: photo;
      font-size: 5em;
      text-align: center;
      /* border: 1px dashed red; */
   }

   section#main .logo {
      display: flex;
      align-items: stretch;
      justify-content: center;
   }

   section#main .logo img {
      height: 100%;
      width: auto;
      object-fit: contain;
   }


   section#main .descript {
      grid-area: descript;
      /* border: 1px dashed red; */
      background-color: rgb(76, 68, 99);
      padding: 1em;
      display: flex;
      flex-direction: column;
      color: white;

      p {
         line-height: 1.5;
         /* Increases the space between lines to 1.5 times the font size */
      }
   }

   nav.horizontalNavigation li {
      width: 20%;
      float: left;
      font-size: 0.8em;
   }

}

@media (min-width: 901px) {
   section#main {
      padding: 1em;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-template-areas: "photo photo"
                           "logo descript";
      grid-gap: 10px;
      /* border: 1px dashed rgb(153, 255, 0); */
   }

   section#main .image {
      grid-area: photo;
      font-size: 5em;
      text-align: center;
      /* border: 1px dashed red; */
   }


   section#main .logo {
      grid-area: logo;
      display: flex;
      align-items: stretch;
      justify-content: center;

      /* border: 1px dashed yellow; */
      img {
         width: 100%;
      }
      
   }

   section#main .descript {
      grid-area: descript;
      /* border: 1px dashed red; */
      background-color: rgb(76, 68, 99);
      padding: 1em;
      color: white;
      font-family: cursive;
      font-size: medium;

      p {
         line-height: 1;
         /* Increases the space between lines to 1.5 times the font size */
      }
   }

   section#main .logo img {
      height: 100%;
      width: auto;
      object-fit: contain;
   }

   .image img {
      width: 100%;
   }

}