@charset "utf-8";
/* Body Styles */

body {
   margin-left: auto;
   margin-right: auto;
   max-width: 960px;
   min-width: 640px;
   width: 95%;
}

/* Horizontal Navigation Styles */
nav.horizontalNavigation li {
   width: 20%;
   float: left;
   font-size: 0.7em;
}

.horizontalNavigation a {
   display: block;
   text-align: center;
}


/* Footer Styles */
footer {
   background-color: rgb(81, 45, 168);
   clear: left;
}

footer::after {
   clear: both;
   content: "";
   display: table;
}

footer>nav.verticalNavigation {
   float: left;
   width: 22%;
}

footer>section#contactInfo {
   float: left;
   width: 34%;
}

#header_title {
   text-align: center;
   font-size: 2em;
   color: rgb(169, 192, 224);
   text-shadow: 5px 5px 5px black;
   padding: 50px 10px;
   background-image: url(fifa-world-cup-trophy-wallpaper-preview.jpg);
   background-size: 100% 100%;
   background-position: center center;
   background-repeat: no-repeat;
}

/* Styles for screens smaller than or equal to 400px wide */



/*  */
/*  */
@font-face {
	font-family: Champagne;
	src: url(cac_champagne.woff) format('woff'),
	     url(cac_champagne.ttf) format('ttf');
}

html {
   background-color:rgb(145, 145, 243);
   font-family: Verdana, Geneva, Arial, sans-serif; 	
}

body {
   background-color: rgb(46, 14, 122);  
}


/* Horizontal Navigation Styles */

nav.horizontalNavigation a {
   background-color: rgb(81, 45, 168);
   /* font-family: Champagne, cursive; */
   font-size: 1.4em;
   line-height: 1.8em;
   text-align: center;
}  

nav.horizontalNavigation a:link, 
nav.horizontalNavigation a:visited {
   color: rgb(169, 192, 224);
}

nav.horizontalNavigation a:hover, 
nav.horizontalNavigation a:active {
   background-color: rgb(106, 93, 143);
}   


/* Left Column Paragraph Styles */

section#leftColumn p {
   color: rgb(169, 192, 224);
   font-size: 0.9em;
   line-height: 1.6em;
   font-family: cursive;
   font-style: oblique;
}


/* Footer Styles */

body > footer {
   font-size: 0.9em;
   color: rgb(169, 192, 224);
}

body > footer h1 {
   color: rgb(169, 192, 224);
   font-size: 1.1em;
   font-weight: normal;
   letter-spacing: 0.2em;
   margin: 1em 0 0.5em 1em;
}

/* Vertical Navigation Styles */

nav.verticalNavigation ul {
   margin-left: 1em;
   line-height: 2em;
}

nav.verticalNavigation a:link, 
nav.verticalNavigation a:visited {
   color: rgb(169, 192, 224);
}

nav.verticalNavigation a:hover, 
nav.verticalNavigation a:active {
   text-decoration: underline;
}

/* Contact Info Styles */

section#contactInfo p {
   line-height: 1.4em;
   margin: 1em;
}   

